@import "tailwindcss";

body {
margin: 0;
padding: 0;
overflow-x: hidden;
cursor: pointer;
overflow-y: auto;
font-family: Roboto, sans-serif;
  -webkit-text-size-adjust: 100%;
   text-size-adjust: 100%;
 }

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-border-animate {
  background-size: 300% 300%;
  animation: gradientFlow 3s ease infinite;
}

.container{
  padding: 0 6px;
  margin:0 auto;
  @apply max-w-screen-xl
}

.swiper {
  width: 100%;
  height: 100%;
  position: static !important;
}

.swiper-slide {
  width: 450px !important;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  .swiper-slide {
    width: 100% !important;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homeSlider .swiper .swiper-button-prev {
  position: absolute;
  color: white;
  padding: 5px;
  border-radius: 100px;
  @apply bg-white border border-blue-300 md:left-[9%] left-5 z-30;
}
.homeSlider .swiper .swiper-button-next {
  position: absolute;
  color: white;
  padding: 5px;
  border-radius: 100px;
  @apply bg-white border border-blue-300  md:right-20 right-5;
}

.homeSlider .swiper .swiper-button-prev .swiper-navigation-icon,
.homeSlider .swiper .swiper-button-next .swiper-navigation-icon {
  color: rgb(100, 176, 206);
  width: 15px;
  height: 15px;
}
.swiper-button-prev svg,
.swiper-button-next svg {
  display: none !important;
}

.homeSlider .swiper .swiper-pagination {
  bottom: -40px;
}

.swiper-pagination-bullet-active {
  transition: all 0.4s ease;
  transform-origin: center;
  transform: scale(3, 1);
  border-radius: 2px !important;
}

.homeSlider .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
}

.swiper {
  width: 100%;
  height: 100%;
  position: static !important;
}

.swiper-slide {
  width: 450px !important;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  .swiper-slide {
    width: 100% !important;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homeSlider .swiper .swiper-button-prev {
  position: absolute;
  color: white;
  padding: 5px;
  border-radius: 100px;
  @apply bg-white border border-blue-300 left-5 z-30;
}
.homeSlider .swiper .swiper-button-next {
  position: absolute;
  color: white;
  padding: 5px;
  border-radius: 100px;
  @apply bg-white border border-blue-300 right-5;
}

.homeSlider .swiper .swiper-button-prev .swiper-navigation-icon,
.homeSlider .swiper .swiper-button-next .swiper-navigation-icon {
  color: rgb(100, 176, 206);
  width: 15px;
  height: 15px;
}
.swiper-button-prev svg,
.swiper-button-next svg {
  display: none !important;
}

.homeSlider .swiper .swiper-pagination {
  bottom: -40px;
}

.swiper-pagination-bullet-active {
  transition: all 0.4s ease;
  transform-origin: center;
  transform: scale(2, 1);
  border-radius: 1.5px !important;
}

.homeSlider .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.ticker-container {
  width: 100%;
  overflow: hidden;
  background: linear-gradient(
    to right,
    #F80200 10%,
    #F8BA01 30%,
    #32AB15 60%,
    #4184ED 90%
  );
  padding: 5px 0;
}

/* Inner ticker wrapper */
.ticker {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.ticker__move {
  display: inline-block;
  white-space: nowrap;
  animation: tickerMove 5s ease-in-out infinite alternate;
  font-weight: 550;
}

@keyframes tickerMove {
  0% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10%);
  }
}

.ticker-item {
  padding: 0 5px;
  font-size: 16px;
  color: #050505;
}

.gradient-text {
  background-image: linear-gradient(
    to right,
    #F80200 10%,
    #F8BA01 40%,
    #32AB15 50%,
    #4184ED 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.mech-img-animation3 {
  animation: scaleOutward 2.8s ease infinite;
  animation-delay: 0.3s;
}
.mech-img-animation4 {
  animation: scaleOutward2 2s ease infinite;
  animation-delay: 0s;
}
.mech-img-animation6 {
  animation: scaleOutward3 2s ease infinite;
  animation-delay: 0.6s;
}


@keyframes scaleOutward {
  0% {
    transform: scale(0.1);
    transform-origin: right;
    transform: translateY(-10px);
    visibility: hidden;
    left: 70px;
  }
  100% {
    transform: scale(1);
    transform: translateY(0);
    visibility: visible;
    left: -50px;
    top: -40px;
  }
}
@keyframes scaleOutward2 {
  0% {
    transform: scale(0.1);
    transform-origin: left;
    visibility: hidden;
    right: 0px;
    top: 100px;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    right: -50px;
    top: -40px;
  }
}
@keyframes scaleOutward3 {
  0% {
    transform: scale(0.1);
    transform-origin: bottom;
    visibility: hidden;
    left: 70px;
  }
  100% {
    transform: scale(1);
    visibility: visible;
    left: -50px;
    bottom: 40px;
  }
}

