@import "tailwindcss";

body {
margin: 0;
padding: 0;
overflow-x: hidden;
overflow-y: auto;
font-family: Roboto, sans-serif;
  -webkit-text-size-adjust: 100%;
   text-size-adjust: 100%;
 }

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-border-animate {
  background-size: 300% 300%;
  animation: gradientFlow 3s ease infinite;
  
}
*{
  transition:all 0.4s ease-in;
  

}

.container{
  padding: 0 15px;
  margin:0 auto;
  @apply max-w-screen-xl
}





