@import "tailwindcss";

body {
margin: 0;
padding: 0;
overflow-x: hidden;
cursor: pointer;
overflow-y: auto;
font-family: Roboto, sans-serif;
  -webkit-text-size-adjust: 100%;
   text-size-adjust: 100%;
 }

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-border-animate {
  background-size: 300% 300%;
  animation: gradientFlow 3s ease infinite;
}

.container{
  padding: 0 6px;
  margin:0 auto;
  @apply max-w-screen-xl
}

.swiper {
  width: 100%;
  height: 100%;
  position: static !important;
}

.swiper-slide {
  width: 450px !important;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  .swiper-slide {
    width: 100% !important;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homeSlider .swiper .swiper-button-prev {
  position: absolute;
  color: white;
  padding: 5px;
  border-radius: 100px;
  @apply bg-white border border-blue-300 md:left-[9%] left-5 z-30;
}
.homeSlider .swiper .swiper-button-next {
  position: absolute;
  color: white;
  padding: 5px;
  border-radius: 100px;
  @apply bg-white border border-blue-300  md:right-20 right-5;
}

.homeSlider .swiper .swiper-button-prev .swiper-navigation-icon,
.homeSlider .swiper .swiper-button-next .swiper-navigation-icon {
  color: rgb(100, 176, 206);
  width: 15px;
  height: 15px;
}
.swiper-button-prev svg,
.swiper-button-next svg {
  display: none !important;
}

.homeSlider .swiper .swiper-pagination {
  bottom: -40px;
}

.swiper-pagination-bullet-active {
  transition: all 0.4s ease;
  transform-origin: center;
  transform: scale(3, 1);
  border-radius: 2px !important;
}

.homeSlider .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
}








